@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.carousel {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
    -moz-transition: transform 0.3s linear;
    -ms-transition: transform 0.3s linear;
    -o-transition: transform 0.3s linear;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}